/*general styling*/
html{
  width: 100%;
}
*{
  font-family: 'Courier New', Courier, monospace;
}
h1,h2,h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1{
  font-size: 48px;
}
li{
  list-style-type: none;
}
nav{
  height: 5vh;
  width: 100%;
}
/*nav styling*/
.nav{
  float: right;
}
.nav > li{
  display: inline-block;
}
.nav > li > a{
  text-decoration: none;
  color: #000;
}
.nav > li > a:hover{
  color: #0000ff;
  font-size: 20px;
}
/*main section*/
main{
  width: 100%;
}

.main-section{
  height: 75vh;
  width: 100%;
}
.main-section-info{
  margin: auto;
  width: 60%;
  padding-top: 10vh;
  text-align: center;
}
.Intro > .main-section-info{
  padding-top: 10%;  
}

#contact-button{
  color: #fff;
  background-color: #000;
}
#contact-button > a{
  text-decoration: none;
  color: #fff;
}
#contact-links > li {
  padding-bottom: 5px;
}
/*Footer section*/
.footer{
  height: 15vh;
  width: 100%;
  text-align: center;
}